 /* .hero{
    background-image: url(../img/feedback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}  */
#myVideo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;

}

.hero{
position: relative;
bottom: 0;
}


a{
    text-decoration: none;
}

#choose{
    background-color: #f7f8fc;
}

#feedback{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#contact{
    background-color: #222029;
}