  .akira-home-page{
    background-image: url(../img/Shopping_lady.jpg);
    background-size: cover;
    height: 650px;
    opacity: 4;
      }
    .icon{
      margin-left: 100px;
    }

    /* Welcome to touriest  */
    .new-sale{
      background-image: url(../img/shopping-bag.jpg);
      background-size: cover;
      height: 500px;
      background-attachment: fixed;
    }
    .box{
      height: 400px;
      width: 500px;
      background-color: white;
      margin-top: 100px;
      margin-left: 140px;
    }
    .coHub{
      color: blue;
    }
    .why_choose_us{
      background-color: aliceblue;
    }
    .marpad{
      margin-top: 100px;

    }
    .marlr{
      margin-left: 100px;
      margin-right: 100px;
    }